.container {
  background: gray;
}

.header {
  color: white;
  background-color: darkblue;
  text-align: center;
}
/* hiding the cards now so when the user inputs a city, the day day forcast will appear */
div.card {
  display: none;
}
